.heading{
    font-size: 25px;
    width: 100%;
    margin: 10px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: rgb(255, 242,0);
    background-color: blue;
}
.note{
    font-size:15px ;
    color: rgb(208, 208, 208);

}

body{
    background-size: 95%;
    background-position: center;
}

.div_speed{
    float: left;

}

.div_speed_img{
    width: 200px;
    border-radius: 100px;

}
#speed{
    font-size: 23px;
    margin: 15px;
}

.div_volume{
    float: right;
}

.div_volume_img{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 23px;
    margin: 15px;
}

#start{
    background-color: rgb(12, 230, 12);
    color: darkgreen;
    height: 60px;
    width: 80px;
font-family: arial black;
font-size: 25px;
}
#stop{
    color: orange;
    font-family: arial black;
    font-size: 25px;
    height: 60px;
    width: 80px;
}


canvas{
    border: solid;
    border-width: 10px;
    height: 400px;
    border-radius: 5%;
border-color: #18FFFF;
}